*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 360px;
    margin: 1% auto;
    border-radius: 30px;
    background-color: rgb(0 0 0 / 50%);
    box-shadow: 0 0 8px 0px #a3a1a1;
} 

.register-section{
    padding: 20px;
    
}

.register-section h2{
    text-align: center;
    color: #48d5f5;
    margin: 10px 0px;
    font-size: 26px;
}

.register-section h5{
    text-align: left;
    color: #aff526;
    margin: 1px 0px;
    font-size: 12px;
}

.form-control{
    width: auto;
    height: 23px;
    padding: 1px 21px;
    margin-bottom: 8px;
    border-radius: 30px;
    outline: none;
    letter-spacing: 1px;
    border: 1px solid #607d8b;
} 

.form-control:hover{
    background: #cdf8cd;    
} 

.submit-btn{
    background: palegreen;
    color: black;
    padding: 8px 20px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    text-shadow: 0 0 1px black;
    border:none;
    box-shadow: 1px 2px 4px #35f9e7;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Poppins';
}

.submit-btn:hover{
    background: #fff;
}

a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}
